<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-6 p-5">
        <div class="card text text-center">
            <div class="card-header">
                <div class="h4">Register</div>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
                    <div class="mb-3 row">
                        <label for="fname" class="col-lg-3 form-label">First Name</label>
                        <div class="col-lg-9 d-flex align-items-center">
                            <input type="text" class="form-control" formControlName="firstName" id="fname"></div>
                    </div>
                    <div class="mb-3 row">
                        <label for="lname" class="col-lg-3 form-label">Last Name</label>
                        <div class="col-lg-9 d-flex align-items-center">
                            <input type="text" class="col-sm-9 form-control" formControlName="lastName" id="lname"></div>
                    </div>
                    <div class="mb-3 row">
                        <label for="mobileno" class="col-lg-3 form-label">Mobile Number</label>
                        <div class="col-lg-9 d-flex align-items-center">
                            <input type="text" class="form-control" formControlName="mobileNo" id="mobileno"></div>
                    </div>
                    <div class="mb-3 row">
                        <label for="emailid" class="col-lg-3 form-label">Email ID</label>
                        <div class="col-lg-9 d-flex align-items-center">
                            <input type="email" class="form-control" formControlName="emailID" id="emailid"></div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Password" class="col-lg-3 form-label">Password</label>
                        <div class="col-lg-9 d-flex align-items-center">
                            <input type="password" class="col-sm-9 form-control" formControlName="password" id="Password"></div>
                    </div>
                    <div class="mb-3 row">
                        <label for="password2" class="col-lg-3 form-label">Confirm Password</label>
                        <div class="col-lg-9 d-flex align-items-center">
                            <input type="password" class="col-sm-9 form-control" formControlName="password2" id="password2"></div>
                    </div>
                    <div class="form-text pb-3">
                        <span>Already have an account? <a [routerLink]="'../login'">click here</a> to Login</span>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>